<p><%= link_to "Admin Log Out", destroy_admin_session_path, method: :delete %></p>
<p><%= link_to "Edit My Admin Account", edit_admin_registration_path %></p>
<p><%= link_to "Users", users_path %></p>
