<p>
  <%= link_to fa_icon("sign-out", text: "Admin Log Out"),
  destroy_admin_session_path, method: :delete %>
</p>
<p>
  <%= link_to fa_icon("id-card-o", text: "Edit My Admin Account"),
  edit_admin_registration_path %>
</p>
<p>
  <%= link_to fa_icon("users", text: "Users"), users_path %>
</p>
