@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Open+Sans|PT+Sans|Gentium+Book+Basic');


a {
  color: #9ACC77;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

a:hover {
  color: #9ACC77;
  text-decoration: none;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#addPhoto {
  display: inline-block;
}

.btn {
  padding: 3px;
  margin: 6px;
}

.btn-default {
  background-color: #E5EAD4;
  color: #334F53;
  border-color: #45936C;
}

.btn-default:hover {
  background-color: #45936C;
  color: #F2F2F2;
  border-color: #45936C;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 6vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #45936C
}

h2 {
  text-align: center;
  font-size: 3.5vw;
  color: #45936C;
  font-family: 'Avenir';
  font-weight: 100;
}

h3{
  font-size: 3vw;
  color: #45936C;
  font-family: 'Avenir';
}

h4 {
  text-align: center;
  font-size: 2vw;
  color: #45936C;
  font-family: 'Avenir';
}

body {
  background-color: #E8EAE3;
  color: #45936C;
  font-family: 'Avenir';
}

form {
  text-align: center;
}

:focus {
  outline: none;
}

input, input#admin_email, input#admin_password, input#admin_password_confirmation,
input#admin_current_password, input#user_email, input#user_password,
input#user_password_confirmation, input#user_current_password {
  width: 160px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #E5EAD4;
  color: #334F53;
  border-radius: 3px;
  border: none;
}

input#user_remember_me, input#admin_remember_me {
  width: 12px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #E5EAD4 inset;
}

.navbar {
  font-size: 1.5vmax;
  padding-right: 5px;
  min-height: 100vh;
}

nav a {
  color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

nav a:hover {
  color: #F2F2F2;
  text-decoration: none;
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

nav {
  background-color: #334F53;
  color: #E5EAD4;
  font-size: 1.5vmax;
  padding-right: 5px;
}

.nested-fields {
  display: inline-flex;
}

.notice {
  text-align: center;
}

.panel {
  background-color: #F2F2F2;
  color: #213435;
  border: none;
  font-family: 'Avenir';
}

.panel a {
  padding: 5px;
  color: #213435;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.panel a:hover {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.publication, .post {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.publication:hover, .post:hover {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.details {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.resizable-image {
  width: 100%;
  border-radius: 3px;
}
